node_modules
dist
dev-dist
coverage

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.*
!.env.example

# Build artifacts
*.tsbuildinfo
vite.config.d.ts
vite.config.js

# Logs
*.log
npm-debug.log*
